<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="sideNavStatus" role="navigation">
    <br>
    <div style="margin-left: 30px">
      <a  mat-list-item routerLink="/">
        Home
      </a>
      <br>
      <a mat-list-item routerLink="/table">
        Customer
      </a>

    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-toolbar
      (navToggle)="toggle()">
    </app-toolbar>
    <router-outlet>
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container
>


