<div class="mat-table"  fxLayout fxLayoutAlign="center" >
<cdk-table [dataSource]="dataSource">
  <ng-container cdkColumnDef="name">
    <th cdk-header-cell *cdkHeaderCellDef>Name</th>
    <td cdk-cell *cdkCellDef="let element">{{element.name}}</td>
  </ng-container>

  <ng-container cdkColumnDef="address">
    <th cdk-header-cell *cdkHeaderCellDef>Address</th>
    <td cdk-cell *cdkCellDef="let element">{{element.address}}</td>
  </ng-container>

  <ng-container cdkColumnDef="vat_number">
    <th cdk-header-cell *cdkHeaderCellDef>Vat Number</th>
    <td cdk-cell *cdkCellDef="let element">{{element.vat_number}}</td>
  </ng-container>

  <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
  <tr cdk-row *cdkRowDef="let row; columns:['name', 'address', 'vat_number']"></tr>
</cdk-table>
</div>
