<div fxLayoutAlign="center center">
  <mat-form-field fxFlex="20%">
    <input matInput type="text" placeholder="Search" (keyup)="doFilter($event.target.value)">
  </mat-form-field>
</div>
<div class="header-container" mat-elevation-z8>
  <table cdk-table [dataSource]="dataSource" bgcolor="#d3d3d3" matSort>
    <ng-container cdkColumnDef="name">
      <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Name</th>
      <td cdk-cell *cdkCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container cdkColumnDef="address">
      <th cdk-header-cell *cdkHeaderCellDef class="padding">Address</th>
      <td cdk-cell *cdkCellDef="let element">{{element.address}}</td>
    </ng-container>

    <ng-container cdkColumnDef="zipCode">
      <th cdk-header-cell *cdkHeaderCellDef>Zip code</th>
      <td cdk-cell *cdkCellDef="let element">{{element.zipCode}}</td>
    </ng-container>

    <ng-container cdkColumnDef="vat">
      <th cdk-header-cell *cdkHeaderCellDef>Vat number</th>
      <td cdk-cell *cdkCellDef="let element">{{element.vat_number}}</td>
    </ng-container>

    <ng-container cdkColumnDef="numberOfConsumer">
      <th cdk-header-cell *cdkHeaderCellDef>Number of Consumer</th>
      <td cdk-cell *cdkCellDef="let element">{{element.number_of_consumers}}</td>
    </ng-container>

    <ng-container cdkColumnDef="memberNumber">
      <th cdk-header-cell *cdkHeaderCellDef>Member Number</th>
      <td cdk-cell *cdkCellDef="let element">{{element.member_number}}</td>
    </ng-container>

    <ng-container cdkColumnDef="usageOfWater">
      <th cdk-header-cell *cdkHeaderCellDef>Usage of water</th>
      <td cdk-cell *cdkCellDef="let element">{{element.cubic_meters_pumped}}</td>
    </ng-container>

    <ng-container cdkColumnDef="functions">
      <th cdk-header-cell *cdkHeaderCellDef>Functions</th>
      <td cdk-cell *cdkCellDef="let element">{{element.functions}}
        <p>
        <button  mat-raised-button color="primary" (click)="openDialog(element)">edit</button>
        <button class="button-delete" mat-raised-button color="warn" (click)="delete(element)">delete</button>
        </p>
      </td>

    </ng-container>

    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
  </mat-paginator>
</div>


