table {
  width: 100%;
  text-align: justify;
}

.header-container {
  height: 400px;
  overflow: auto;
}

.button-delete {
  margin-left: 10px;
}
.button-statusChange {
  margin-left: 10px;
}
#margin{
  margin-right: 2300px;
}
#marginSearch {
  padding-left: 100px;
}
.button-add {
  margin-left: 10px;
  height: 50px;

}
.button-area{
  margin-top: 10px;
}

.container {
  height: 100%;
}
button {
  color: white;
}
button.btn-danger {
  background-color: red;
}
button.btn-success {
  background-color: green;
}



