table {
  width: 100%;
  text-align: justify;
}

.header-container {
  height: 400px;
  overflow: auto;
}

.button-delete {
  margin-left: 10px;
}
#margin{
  margin-right: 1400px;
}
#marginSearch {
  padding-left: 100px;
}
